<div class="wrap">
  <div> Enter password: </div>
  <input #password
    placeholder="1111"
    type="text" required>
  <app-main-button
    [addedStyles]="{padding: '4px 20px', margin: '0'}"
    (clickEvent)="onSubmitClick(password.value)"> 
    Submit 
  </app-main-button>
  <app-main-button
    [addedStyles]="{padding: '4px 20px', margin: '0'}"
    (clickEvent)="onExitClick()"> 
    Exit 
  </app-main-button>
</div>
<span class="wrongPass"
  *ngIf="wrongPassword"> 
  Wrong password! 
</span>
