<form [formGroup]="form"
  (ngSubmit)="onSubmitClick()"
  class="wrap">
  <div> Enter password: </div>
  <input #password
    formControlName="password"
    placeholder="1111"
    type="text">
  <button *ngIf="!wrongPassword; else wrongPass"
    type="submit"
    appButtonStyles
    padding="4px 20px"
    margin="0"
    [disabled]="!form.valid">Submit</button>
  <ng-template #wrongPass>
    <span class="wrongPass">Wrong password!</span>
  </ng-template>
  <button
    type="button"
    appButtonStyles
    padding="4px 20px"
    margin="0"
    (click)="onExitClick()">Exit</button>
</form>
