:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}
img {
  height: 200px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.productTile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 30px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px #606060;
  padding: 10px;
  font-weight: bold;
}
.productTile:hover {
  box-shadow: inset 2px 2px 8px 0px #606060;
}
.productTile:active {
  filter: grayscale(1);
}
.productName {
  font-size: 19px;
  max-width: 276px;
  word-break: break-word;
  padding: 8px;
  background-color: hsl(57deg 92% 58%);
  border-radius: 5px;
  text-align: center;
}